name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      HUMANITEC_ORG: ${{ vars.HUMANITEC_ORG }}
      HUMANITEC_TOKEN: ${{ secrets.HUMANITEC_TOKEN }}

    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.x]
    permissions:
      packages: write

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u $ --password-stdin
      - run: npm ci
      - run: npm run lint
      - run: npm test
      - run: npm run package
      - name: Validate updated dist
        run: |
          if [ "$(git diff --ignore-space-at-eol --text dist/ | wc -l)" -gt "0" ]; then
            echo "Changed dist found, please run \"npm run package\" locally and commit the changes."
            git diff
            exit 1
          fi
